{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": false
      }
    ]
  ],
  "presets": [
    "next/babel",
    "@babel/preset-typescript"
  ]
}
