@import "./SignInScreen/SignInScreen.pcss";
@import "./History/HistoryTab.pcss";
@import "./ProfileScreen/ProfileScreen.pcss";
@import "./OrdersTabScreen/OrdersTabScreen.pcss";
@import "./RestrictedScreen/RestrictedScreen.pcss";
@import "./MaintenanceScreen/MaintenanceScreen.pcss";
@import "./WalletsScreen/WalletsScreen.pcss";
